<div class="row post-container", style="margin-top: 30px;">
  <div class="col-12" style="margin: auto; margin-top: 30px; margin-bottom: 30px;">
    <div style="display: flex; align-items: center;">
      <h2 style="margin-right: auto;">Sign up</h2>
      <strong class="text-warning">Hint, all forms with * are required</strong>
    </div>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <br>
      <div class="field">
        <%= f.label :email %> <span class="text-danger">*</span><br>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "name@example.com" %>
      </div>
      <br>

      <div class="field">
        <%= f.label :bio %><br>
        <%= f.text_field :bio, autofocus: true, autocomplete: "bio", class: "form-control", placeholder: "Your bio" %>
      </div>
      <br>

      <div class="field">
        <%= f.label :username %> <span class="text-danger">*</span><br>
        <%= f.text_field :username, autofocus: true, autocomplete: "username", class: "form-control", placeholder: "Mohamed Magdy" %>
      </div>
      <br>

      <div class="field">
        <%= f.label :avatar %><br>
        <%= f.file_field :avatar %>
      </div>
      <br>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %> <span class="text-danger">*</span><br />
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
      </div>
      <div class="field">
        <%= f.label :password_confirmation %> <span class="text-danger">*</span><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
      </div>
      <br>
      <div class="field">
        <%= f.label :role %>
        <%= f.select :role, User.roles.map(&:first), {prompt:'select'}, {class: "form-control"}%>
      </div>
      <br>
      <div class="actions">
        <%= f.submit "Sign up", class: "btn btn-primary col-12" %>
      </div>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>
