<div class="row">
  <div class="col-12 text-center" style="padding: 20px; background-color: #f2f2f2;">

    <% if @user.avatar.nil?%>
        <img src="https://i.imgur.com/9nMvJ1e.png" class="rounded-circle" style="width: 160px; height: 160px; object-fit: cover;"/>
    <% else %>
        <img src="<%= @user.avatar.avatar_url %>" class="rounded-circle" style="width: 160px; height: 160px; object-fit: cover;"/>
    <% end %>
    <br>
    <h1> <%= @user.username %> </h1>
    <h5> <%= @user.email %> </h5>
    <h5> <%= @user.bio %> </h5>
    <% if current_user.following?(@user) %>
      <%= button_to "Unfollow", unfollow_path(@user), class: "btn btn-outline-danger" %>
    <% elsif current_user.sent_follow_request_to?(@user) %>
      <%= button_to "Cancel follow request", cancel_path(@user) %>
    <% else %>
      <% if @user.id == current_user.id %>
        <%= link_to "Edit Profile", edit_user_registration_path, class: "btn btn-outline-primary" %>
      <% else %>
        <%= button_to "Follow", follow_path(@user), class: "btn btn-outline-primary" %>
      <% end %>
    <% end %>

    <% unless @user.followers.empty? %>
      <hr>
      <h3 style="text-align: left">Followers</h3>
      <% @user.followers.each do |follower| %>
        <%= render follower %>
        <hr>
      <% end %>
    <% end %>
  </div>
</div>