<div id="<%= dom_id post %>" class="post-container">
  <%= link_to(post.user, class: 'nav-link post-link', style: "text-align: left;") do %>
    <% if post.user.avatar.attached? %>
      <%= image_tag post.user.avatar, class: "rounded-circle", width: "30", height: "30" %>
    <% end %>
    <span class="d-none d-sm-inline mx-1 text-dark"><%= post.user.username %></span>
  <% end %>
  <br>
  <%= link_to(post_path(post.id), class: "post-link text-dark") do %>
    <div class="post-title">
      <%= post.title %>
    </div>
  <% end %>
  <br>
  <%= link_to(post_path(post.id), class: "post-link") do %>
    <% post.images.each do |image| %>
      <%= image_tag(image, style: "object-fit: cover;, width: 400px; height: 400px;") %>
    <% end %>
  <% end %>
  <div style="margin-top: 10px;">
    <% if user_signed_in? %>
      <% like = current_user.likes.find_by(post: post) %>
      <% if like.nil? %>
        <%= button_to "", likes_path, params: { like: { post_id: post.id } }, class: "like", method: :post %>
      <% else %>
        <%= button_to "", like_path(like), class: "unlike", method: :delete %>
      <% end %>
    <% end %>
    <%= link_to(likes_path, class: "post-link") do %>
    <h6 class="text-primary">
      <%= post.likes.count %> Likes
    </h6>
    <% end %>
  </div>
</div>
