<div id="<%= dom_id post %>" class="post-container">
  <% post.images.each do |image| %>
    <%= image_tag(image, style: "object-fit: cover;", size: "100x100") %>
  <% end %>
  <div class="post-title">
    <%= post.title %>
  </div>
  <%= link_to post.user.username, post.user, style: "z-index" %>

  <div style="margin-top: 10px;">
    <% if user_signed_in? %>
      <% like = current_user.likes.find_by(post: post) %>
      <% if like.nil? %>
        <%= button_to "Like", likes_path, params: { like: { post_id: post.id } }, class: "btn btn-primary btn-sm", method: :post %>
      <% else %>
        <%= button_to "Unlike", like_path(like), class: "btn btn-danger btn-sm", method: :delete %>
      <% end %>
    <% end %>
    <p> <%= post.likes.count %> Likes</p>
  </div>
</div>
