<div id="<%= dom_id post %>" class="post-container">
  <%= link_to(post.user, class: 'nav-link post-link', style: "text-align: left;") do %>
    <% post.user.avatars.each do |av| %>
      <%= image_tag av.avatar_url, class: 'rounded-circle', width: '40', height: '40', loading: 'lazy' %>
    <% end %>
    <span class="d-none d-sm-inline mx-1 text-dark"><strong><%= post.user.username %></strong></span>
  <% end %>
  <br>
  <%= link_to(post_path(post.id), class: "post-link text-dark") do %>
    <div class="post-title">
      <%= post.title %>
    </div>
  <% end %>
  <br>
  <%= link_to(post_path(post.id), class: "post-link") do %>
    <% if post.attachments.count > 1 %>
      <div class="image-container">
        <% post.attachments.each do |image| %>
          <img src="<%= image.resource_url %>" class="rounded" loading="lazy"/>
        <% end %>
      </div>
    <%else%>
      <% post.attachments.each do |image| %>
          <img src="<%= image.resource_url %>" class="rounded" style="max-width: 100%" loading="lazy"/>
      <% end %>
    <% end %>
  <% end %>
  <div style="margin-top: 10px;" class="text-center">
    <% if user_signed_in? %>
      <% like = current_user.likes.find_by(post: post) %>
      <% if like.nil? %>
        <%= button_to "", likes_path, params: { like: { post_id: post.id } }, class: "like", method: :post %>
      <% else %>
        <%= button_to "", like_path(like), class: "unlike", method: :delete %>
      <% end %>
    <% end %>
    <%= link_to(post_likes_path(post), class: "post-link") do %>
      <h6 class="text-primary">
        <%= post.likes.count %> Likes
      </h6>
    <% end %>
  </div>
</div>
