<div class="container-fluid">
  <div class="row flex-nowrap">
    <div class="col-auto col-md-4 col-xl-2 px-sm-2 px-0 bg-light">
      <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-dark min-vh-100">
        <a href="/posts" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
          <% if user_signed_in? %>
            <%= link_to(current_user, class: "nav-link post-link") do %>

              <% if current_user.avatars.empty? %>
                <%= image_tag "https://i.imgur.com/Zi3m1dl.png", class: "rounded-circle", width: "40", height: "40" %>
              <% else %>
                <% current_user.avatars.each do |av| %>
                  <%= image_tag av.avatar_url, class: 'rounded-circle', width: '40', height: '40', loading: 'lazy' %>
                <% end %>
              <%end%>
              <span class="d-none d-sm-inline mx-1 text-dark"><strong><%= current_user.username %></strong></span>
            <% end %>
          <% else %>
            <%= image_tag "https://i.imgur.com/Zi3m1dl.png", class: "rounded-circle", width: "40", height: "40" %>
            <span class="d-none d-sm-inline mx-1 text-dark">Guest</span>
          <% end %>
        </a>
        <br>
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
          <li class="nav-item">
            <%= link_to(root_path, class: "nav-link") do %>
              <i class="fs-3 bi-house"></i>
              <span class="ms-1 d-none d-sm-inline">Home</span>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to(new_post_path, class: "nav-link") do %>
              <i class="fs-4 bi-plus-square"></i>
              <span class="ms-1 d-none d-sm-inline">Create Post</span>
            <% end %>
          </li>
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to(edit_user_registration_path, class: "nav-link") do %>
                <i class="fs-4 bi-pen"></i>
                <span class="ms-1 d-none d-sm-inline">Edit Account</span>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to(posts_myposts_path, class: "nav-link") do %>
                <i class="fs-4 bi bi-archive"></i>
                <span class="ms-1 d-none d-sm-inline">My Posts</span>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to(home_about_path, class: "nav-link") do %>
                <i class="fs-4 bi bi-patch-question"></i>
                <span class="ms-1 d-none d-sm-inline">About</span>
              <% end %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to(new_user_registration_path, class: "nav-link") do %>
                <i class="fs-4 bi bi-box-arrow-in-right"></i>
                <span class="ms-1 d-none d-sm-inline">Sign up</span>
              <% end %>
            </li>
          <% end %>
        </ul>
        <hr>
        <div class="pb-3">
          <% if user_signed_in? %>
            <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "btn btn-danger" %>
          <% else %>
            <%= link_to "Login", new_user_session_path, class: "btn btn-outline-success" %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col py-3">
      <%= yield %>
    </div>
  </div>
</div>


